body{
    /* margin: 0;
    background-color: rgb(245, 236, 116);
     */
    background: url(backBank.jpg);
    background-size: 100%;

}
*{
    box-sizing: border-box;
}

.SHTRIFT{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;

}

.SHTRIFT a{
    padding: 60px;
    text-decoration: none;
    background-color: rgba(255, 217, 0, 0.479);
    font-size: 15px;
}

header{
    height: 100px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.sh__inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid rgb(12, 148, 12);
    align-items: center;
}

.bav{
    display: flex;
    font-size: 20px;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bav__link{
    color: black;
    text-decoration: 0;
    opacity: .75;
    margin-left: 50px;
}

.bav__link:first-child{
    margin-left: 20px;
}

.bav__link:hover{
    opacity: 1;
}

.sh__logo img{
    width: 100px;
    height: 100px;

}